.login-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  border: 2px solid red;
}

.login-parent-container h1 {
  color: white;
}

.login-form-container {
  background-color: gray;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}

.login-button {
  background-color: rgb(161, 118, 247);
  font-size: 22px;
  width: 200px;
  border: none;
  border-radius: 20px;
}
