.login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  border: 2px solid red;
}

h1 {
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

.login-button {
  background-color: rgb(161, 118, 247);
  font-size: 22px;
  width: 200px;
  border: none;
  border-radius: 20px;
}
