.login-parent-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
  /* border: 2px solid red; */
}

.login-parent-container h1 {
  color: white;
}

.login-form-container {
  /* background-color: gray; */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  color: white;
  margin-bottom: 60px;
}

.login-form button {
  margin-top: 10px;
}

.login-form p {
  margin: 0;
}

.input {
  background: rgba(255, 255, 255, 0.4);
  border: none;
  position: relative;
  display: block;
  outline: none;
  width: 300px;
  height: 30px;
  margin: 0 auto;
  padding: 5px;
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
