@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Hero Section */
.hero-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
  font-family: "Oswald";
}

.welcome {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.nss {
  color: rgb(161, 118, 247);
}

.hero-p {
  color: white;
  text-align: center;
  font-size: 1.2em;
  /* border: 2px solid red; */
  width: 260px;
}

.hero-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.hero-img {
  width: 20%;
  height: 20%;
  margin-bottom: 10px;
}

/* Info Section */
.info-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid white;
  padding-bottom: 50px;
  /* border: 2px solid red; */
}

.info2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
  width: 100vw;
  margin-top: 40px;
}

.info2 p {
  text-align: center;
  width: 150px;
}

.info-img {
  width: 65px;
  height: 65px;
  /* margin-left: 20px; */
  /* margin-top: 15px; */
}

/* Get Started Section */
.get-started-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
  height: 50vw;
}

.get-started-parent p {
  color: white;
  font-size: 28px;
  margin-top: 25px;
}

.already-registered {
  margin-top: 10px;
  color: white;
}

/* iPad screen size */
@media (min-width: 768px) {
  /* Info Section */
  .info-img {
    width: 80px;
    height: 80px;
  }

  .get-started-parent {
    height: 30vw;
  }
}

@media (min-width: 1000px) {
  .info2 {
    width: 80vw;
    margin-top: 40px;
  }

  .info2 p {
    text-align: center;
    width: 300px;
  }
}

/* Screen w/ 1280 width */
@media (min-width: 1208px) {
  /* Hero Section */
  .hero-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
  }

  .welcome {
    font-size: 60px;
  }

  .hero-p {
    color: white;
    text-align: center;
    font-size: 2em;
    /* border: 2px solid red; */
    width: 800px;
  }

  .hero-img {
    width: 30%;
    height: 30%;
    margin-bottom: 10px;
  }

  .info2 p {
    text-align: center;
    width: 350px;
    font-size: 20px;
  }

  .get-started-parent {
    height: 20vw;
  }
}

@media (min-width: 1500px) {
  .info2 {
    width: 60vw;
    margin-top: 40px;
  }

  .info-img {
    width: 100px;
    height: 100px;
  }

  .info2 p {
    text-align: center;
    width: 500px;
    font-size: 25px;
  }
}

/* Screen size of 2560px */
@media (min-width: 2560px) {
  /* Hero Section */
  .hero-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
    /* border: 2px solid red; */
  }

  .welcome {
    color: white;
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
  }

  .hero-p {
    color: white;
    text-align: center;
    font-size: 2.5em;
    /* border: 2px solid red; */
    width: 1200px;
  }

  .hero-img {
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
  }

  /* Get Started Section */
  .get-started-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vh;
    /* border: 2px solid red; */
  }

  .get-started-parent p {
    color: white;
    font-size: 50px;
    margin-top: 25px;
  }

  .already-registered {
    margin-top: 10px;
    color: white;
    font-size: 25px;
  }

  .register-now-landing {
    font-size: 45px;
    width: 400px;
  }
}

@media (min-width: 3072px) {
  .get-started-parent {
    height: 20vw;
  }
}
