.hero-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid white;
  padding-bottom: 15px;
}

.welcome {
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

span {
  color: rgb(161, 118, 247);
}

.hero-p {
  color: white;
  text-align: center;
  font-size: 1.2em;
}

.logo {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 20%;
  height: 20%;
  margin-bottom: 10px;
}
