.nav-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.logo {
  display: flex;
  align-items: center;
}

ul {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: row;
}
