.streams-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 30px;
  /* border: 2px solid red; */
}

.stream {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 325px;
  height: 520px;
  background-color: white;
  margin-top: 20px;
  padding-bottom: 10px;
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 1);
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.stream:hover {
  transform: scale(1.1);
}

.stream img {
  border-radius: 10px 10px 0 0;
}

.stream span {
  font-size: 18px;
}

.stream p {
  color: black;
}

.stream-title {
  width: 300px;
  overflow: hidden;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stream-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* border: 2px solid red; */
  height: 300px;
}

.stream-user-name {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.view-button {
  background-color: #7d5ba6;
  font-size: 22px;
  width: 200px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #dcd6f7;
  font-family: "Oswald";
  margin-top: 15px;
}

.thumbs {
  margin-top: 20px;
  display: flex;
  /* border: 2px solid red; */
  width: 100px;
  justify-content: space-between;
}

.thumbs-up {
  height: 25px;
  width: 25px;
  color: rgba(0, 200, 0, 1);
}

.thumbs-up:hover {
  color: rgba(0, 200, 0, 0.5);
}

.thumbs-down {
  height: 25px;
  width: 25px;
  color: rgba(255, 0, 0, 1);
}

.thumbs-down:hover {
  color: rgba(255, 0, 0, 0.5);
}

.plus-circle {
  height: 25px;
  width: 25px;
  color: rgba(0, 0, 0, 1);
}

.plus-circle:hover {
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 820px) {
  .streams-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
  }
}
