.streams-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 30px;
  /* border: 2px solid red; */
}

@media (min-width: 820px) {
  .streams-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 20px;
  }
}
