.hero-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid red;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
}

.welcome {
  font-size: 1.4em;
}

span {
  color: rgb(161, 118, 247);
}

p {
  color: white;
  border: 2px solid red;
}
