.hero-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

/* .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
} */

.welcome {
  font-size: 1.4em;
  margin-bottom: 1px;
}

span {
  color: rgb(161, 118, 247);
}

p {
  color: white;
  /* border: 2px solid red; */
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
}

img {
  width: 20%;
  height: 20%;
}
