.edit-user-header {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
}

.edit-user-header h1 {
  color: white;
}

.edit-user-container {
  color: white;
  /* background-color: #cacfd6; */
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
}
