.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid red;
  margin-top: 80px;
}

.profile-header h1,
p {
  color: white;
}

.edit-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dcd6f7;
  height: 10vh;
}
