.profile-container {
  /* height: 100vh; */
  /* border: 2px solid red; */
}

.profile-loggedout {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
  margin-top: 80px;
  padding-bottom: 10px;
}

.profile-loggedout h1 {
  color: white;
  text-align: center;
}

.profile-link {
  margin-top: 50px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  height: 25vh;
  /* border: 2px solid red; */
  text-align: center;
}

.profile-header h1 {
  font-size: 60px;
  color: white;
}

.profile-header span {
  color: rgb(161, 118, 247);
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  width: 90vw;
  height: 25vh;
}

.profile-search-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 25vh; */
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.profile-search-content p {
  color: white;
}

.profile-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.profile-search-h2 {
  color: white;
  width: 250px;
  text-align: center;
}

.profile-search-img {
  width: 65px;
  height: 65px;
}

.profile-search-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
}

.button-parent {
  display: flex;
  justify-content: center;
}

.profile-button {
  background-color: #7d5ba6;
  font-size: 22px;
  padding: 2px;
  width: 200px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #dcd6f7;
  font-family: "Oswald";
}

.profile-button:hover {
  background-color: #dcd6f7;
  color: #7d5ba6;
}

.edit-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 25vh; */
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

.edit-account h2 {
  color: white;
}

.edit-account p {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.watch-later {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 25vh; */
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 20px;
}

@media (min-width: 1280px) {
  .profile-sections {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid red; */
    width: 95vw;
  }

  .section {
    width: 25vw;
  }

  .profile-header h1 {
    font-size: 50px;
  }

  .profile-header p {
    font-size: 20px;
  }

  .profile-search-img {
    width: 80px;
    height: 80px;
  }

  .profile-search-content {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
  }

  .profile-search-h2 {
    width: 300px;
    /* font-size: 20px; */
  }
}

@media (min-width: 2560px) {
  .profile-header h1 {
    font-size: 70px;
  }

  .profile-header p {
    font-size: 30px;
  }

  .profile-search-img {
    width: 120px;
    height: 120px;
  }

  .profile-search-content {
    width: 1000px;
  }

  .profile-search-h2 {
    width: 500px;
    font-size: 30px;
  }

  .profile-button {
    font-size: 30px;
    padding: 2px;
    width: 300px;
  }

  .edit-account h2 {
    font-size: 40px;
  }

  .edit-account p {
    border: 2px solid white;
    padding: 5px;
    font-size: 20px;
  }
}

@media (min-width: 3072px) {
  .profile-header h1 {
    font-size: 90px;
  }

  .profile-header p {
    font-size: 40px;
  }

  .profile-search-img {
    width: 180px;
    height: 180px;
    /* margin-left: 20px; */
    /* margin-top: 15px; */
  }

  .profile-search-content {
    border: 2px solid red;
    width: 1000px;
  }

  .profile-search-h2 {
    width: 600px;
    font-size: 40px;
  }

  .profile-button {
    font-size: 40px;
    padding: 2px;
    width: 300px;
  }

  .edit-account h2 {
    font-size: 50px;
  }

  .edit-account p {
    border: 2px solid white;
    padding: 5px;
    font-size: 30px;
  }
}
