body {
  background-color: #333333;
  margin: 0;
  padding: 0;
}

.button {
  background-color: rgb(161, 118, 247);
  font-size: 22px;
  width: 200px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
