/* Leaderboard Container and Header */
.leaderboard-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid red; */
}

.leaderboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #7d5ba6;
  width: 90%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 20px;
}

.leaderboard-header h1 {
  color: white;
  border-bottom: 2px solid white;
}

/* Streamers */
.streamers {
  background-color: white;
  /* border: 2px solid red; */
  width: 90%;
  margin-bottom: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.streamer {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid black;
  /* border: 2px solid red; */
  height: 180px;
}

.streamer p {
  color: black;
  /* border: 2px solid red; */
  width: 140px;
  text-align: center;
}

.streamer-name {
  font-weight: bold;
}

.streamer-info {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 320px;
}

.streamer-info img {
  height: 100px;
  width: 100px;
}

.image-name {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  /* justify-content: space-around; */
  height: 150px;
}

.image-name p {
  font-size: 18px;
}

.streamer-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  align-items: center;
}

.rank-link {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
  justify-content: center;
  width: 100px;
}

.rank-link p {
  font-size: 20px;
}

.view {
  background-color: #7d5ba6;
  font-size: 15px;
  padding: 2px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #dcd6f7;
  font-family: "Oswald";
}

.view:hover {
  background-color: #dcd6f7;
  color: #7d5ba6;
}

.external-link {
  height: 15px;
  width: 15px;
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in-out;
}

.external-link:hover {
  transform: scale(1.1);
}

@media (min-width: 1280px) {
  .streamer {
    height: 250px;
  }

  .streamer-info {
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
  }

  .image-name {
    height: 200px;
  }

  .image-name p {
    font-size: 30px;
  }

  .rank-link {
    flex-direction: row;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 150px;
  }

  .rank-link p {
    font-size: 30px;
  }

  .view {
    font-size: 25px;
    padding: 2px;
    width: 150px;
    height: 45px;
  }
}

@media (min-width: 2560px) {
  .leaderboard-header {
    width: 70%;
    font-size: 32px;
  }

  .streamers {
    width: 70%;
    font-size: 25px;
  }

  .streamer p {
    color: black;
    /* border: 2px solid red; */
    width: 200px;
    text-align: center;
  }
}

@media (min-width: 3072px) {
  .leaderboard-header {
    width: 50%;
  }

  .streamers {
    width: 50%;
  }
}
